# Notebook — Introduction pratique à **Polars** pour la transformation de données 🧭✨
Un petit notebook concis pour montrer comment lire, transformer, agréger, joindre et sauvegarder des jeux de données NYC taxi avec **Polars** — rapide, mémoire-friendly et prêt pour la production. 🚀

## 0. Prérequis

In [ ]:
!  pip install polars pyarrow requests pandas openpyxl

## 1. Lire les fichiers avec Polars

In [ ]:
import polars as pl
trip_path = './../python_project/data/yellow_tripdata/2025-01.parquet'
zones_path = './../python_project/data/yellow_tripdata/taxi_zones.parquet'
# lecture (format parquet + csv)
df = pl.read_parquet(trip_path, infer_schema_length=10000)
zones = pl.read_parquet(zones_path)

In [26]:
# aperçu et schéma
df.shape

(3475226, 20)

In [27]:
df.schema

Schema([('VendorID', Int32),
        ('tpep_pickup_datetime', Datetime(time_unit='us', time_zone=None)),
        ('tpep_dropoff_datetime', Datetime(time_unit='us', time_zone=None)),
        ('passenger_count', Int64),
        ('trip_distance', Float64),
        ('RatecodeID', Int64),
        ('store_and_fwd_flag', String),
        ('PULocationID', Int32),
        ('DOLocationID', Int32),
        ('payment_type', Int64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('Airport_fee', Float64),
        ('cbd_congestion_fee', Float64)])

In [8]:
df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee',
 'cbd_congestion_fee']

In [9]:
df.head(5)

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ Airport_f ┆ cbd_conge │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ stion_fee │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ i64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆           │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 1         ┆ … ┆ 18.0      ┆ 2.5       ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:18:38  ┆ 00:26:59  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 1         ┆ … ┆ 12.12     ┆ 2.5       ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:32:40  ┆ 00:35:13  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 1         ┆ … ┆ 12.1      ┆ 2.5       ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:44:04  ┆ 00:46:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 3         ┆ … ┆ 9.7       ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:14:27  ┆ 00:20:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 3         ┆ … ┆ 8.3       ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:21:34  ┆ 00:25:06  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## 2. Nettoyage minimal & cast de types (`with_columns`)

In [28]:

df = df.with_columns([
    # si les colonnes datetime sont des strings, str.strptime; sinon cast fonctionne si déjà datetime
    pl.col("tpep_pickup_datetime").alias("pickup_datetime"),
    pl.col("tpep_pickup_datetime").dt.strftime("%Y-%m-%d").alias("pickup_datetime_str"),
    pl.col("tpep_dropoff_datetime").alias("dropoff_datetime"),
    pl.col("passenger_count").cast(pl.Int8),
    pl.col("trip_distance").cast(pl.Float32),
    pl.col("fare_amount").cast(pl.Float32),
    pl.col("tip_amount").cast(pl.Float32),
    pl.col("total_amount").cast(pl.Float32),
])
df

shape: (3_475_226, 23)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ cbd_conge ┆ pickup_da ┆ pickup_da ┆ dropoff_d │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ stion_fee ┆ tetime    ┆ tetime_st ┆ atetime   │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ r         ┆ ---       │
│          ┆ ---       ┆ ---       ┆ i8        ┆   ┆ f64       ┆ datetime[ ┆ ---       ┆ datetime[ │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ μs]       ┆ str       ┆ μs]       │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 2025-01-0 ┆ 2025-01-0 ┆ 2025-01-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 00:18:38  ┆ 00:26:59  ┆           ┆   ┆           ┆ 00:18:38  ┆           ┆ 00:26:59  │
│ 1        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 2025-01-0 ┆ 2025-01-0 ┆ 2025-01-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 00:32:40  ┆ 00:35:13  ┆           ┆   ┆           ┆ 00:32:40  ┆           ┆ 00:35:13  │
│ 1        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 2025-01-0 ┆ 2025-01-0 ┆ 2025-01-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 00:44:04  ┆ 00:46:01  ┆           ┆   ┆           ┆ 00:44:04  ┆           ┆ 00:46:01  │
│ 2        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 3         ┆ … ┆ 0.0       ┆ 2025-01-0 ┆ 2025-01-0 ┆ 2025-01-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 00:14:27  ┆ 00:20:01  ┆           ┆   ┆           ┆ 00:14:27  ┆           ┆ 00:20:01  │
│ 2        ┆ 2025-01-0 ┆ 2025-01-0 ┆ 3         ┆ … ┆ 0.0       ┆ 2025-01-0 ┆ 2025-01-0 ┆ 2025-01-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 00:21:34  ┆ 00:25:06  ┆           ┆   ┆           ┆ 00:21:34  ┆           ┆ 00:25:06  │
│ …        ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2        ┆ 2025-01-3 ┆ 2025-01-3 ┆ null      ┆ … ┆ 0.75      ┆ 2025-01-3 ┆ 2025-01-3 ┆ 2025-01-3 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 23:01:48  ┆ 23:16:29  ┆           ┆   ┆           ┆ 23:01:48  ┆           ┆ 23:16:29  │
│ 2        ┆ 2025-01-3 ┆ 2025-02-0 ┆ null      ┆ … ┆ 0.75      ┆ 2025-01-3 ┆ 2025-01-3 ┆ 2025-02-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 23:50:29  ┆ 00:17:27  ┆           ┆   ┆           ┆ 23:50:29  ┆           ┆ 00:17:27  │
│ 2        ┆ 2025-01-3 ┆ 2025-01-3 ┆ null      ┆ … ┆ 0.75      ┆ 2025-01-3 ┆ 2025-01-3 ┆ 2025-01-3 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 23:26:59  ┆ 23:43:01  ┆           ┆   ┆           ┆ 23:26:59  ┆           ┆ 23:43:01  │
│ 2        ┆ 2025-01-3 ┆ 2025-01-3 ┆ null      ┆ … ┆ 0.75      ┆ 2025-01-3 ┆ 2025-01-3 ┆ 2025-01-3 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 23:14:34  ┆ 23:34:52  ┆           ┆   ┆           ┆ 23:14:34  ┆           ┆ 23:34:52  │
│ 2        ┆ 2025-01-3 ┆ 2025-02-0 ┆ null      ┆ … ┆ 0.0       ┆ 2025-01-3 ┆ 2025-01-3 ┆ 2025-02-0 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ 1         ┆ 1         ┆ 1         │
│          ┆ 23:56:42  ┆ 00:07:27  ┆           ┆   ┆           ┆ 23:56:42  ┆           ┆ 00:07:27  │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

# 3. Filtrage basique

In [29]:
valid = df.filter(
    pl.col("passenger_count") > 0, 
    pl.col("trip_distance") > 0, 
    pl.col("fare_amount") > 0
)

In [30]:
valid.select([
    "pickup_datetime","dropoff_datetime","passenger_count","trip_distance","fare_amount","tip_amount"
]).head(5)

shape: (5, 6)
┌──────────────────┬──────────────────┬─────────────────┬───────────────┬─────────────┬────────────┐
│ pickup_datetime  ┆ dropoff_datetime ┆ passenger_count ┆ trip_distance ┆ fare_amount ┆ tip_amount │
│ ---              ┆ ---              ┆ ---             ┆ ---           ┆ ---         ┆ ---        │
│ datetime[μs]     ┆ datetime[μs]     ┆ i8              ┆ f32           ┆ f32         ┆ f32        │
╞══════════════════╪══════════════════╪═════════════════╪═══════════════╪═════════════╪════════════╡
│ 2025-01-01       ┆ 2025-01-01       ┆ 1               ┆ 1.6           ┆ 10.0        ┆ 3.0        │
│ 00:18:38         ┆ 00:26:59         ┆                 ┆               ┆             ┆            │
│ 2025-01-01       ┆ 2025-01-01       ┆ 1               ┆ 0.5           ┆ 5.1         ┆ 2.02       │
│ 00:32:40         ┆ 00:35:13         ┆                 ┆               ┆             ┆            │
│ 2025-01-01       ┆ 2025-01-01       ┆ 1               ┆ 0.6           ┆ 5.1         ┆ 2.0        │
│ 00:44:04         ┆ 00:46:01         ┆                 ┆               ┆             ┆            │
│ 2025-01-01       ┆ 2025-01-01       ┆ 3               ┆ 0.52          ┆ 7.2         ┆ 0.0        │
│ 00:14:27         ┆ 00:20:01         ┆                 ┆               ┆             ┆            │
│ 2025-01-01       ┆ 2025-01-01       ┆ 3               ┆ 0.66          ┆ 5.8         ┆ 0.0        │
│ 00:21:34         ┆ 00:25:06         ┆                 ┆               ┆             ┆            │
└──────────────────┴──────────────────┴─────────────────┴───────────────┴─────────────┴────────────┘

## 5. Ajouter une colonne calculée (`with_columns`)

In [31]:
valid = valid.with_columns([
    (pl.col("tip_amount") / pl.when(pl.col("fare_amount") == 0).then(1).otherwise(pl.col("fare_amount")))
       .alias("tip_pct")
])
valid.select(["fare_amount","tip_amount","tip_pct"]).head(5)

shape: (5, 3)
┌─────────────┬────────────┬──────────┐
│ fare_amount ┆ tip_amount ┆ tip_pct  │
│ ---         ┆ ---        ┆ ---      │
│ f32         ┆ f32        ┆ f32      │
╞═════════════╪════════════╪══════════╡
│ 10.0        ┆ 3.0        ┆ 0.3      │
│ 5.1         ┆ 2.02       ┆ 0.396078 │
│ 5.1         ┆ 2.0        ┆ 0.392157 │
│ 7.2         ┆ 0.0        ┆ 0.0      │
│ 5.8         ┆ 0.0        ┆ 0.0      │
└─────────────┴────────────┴──────────┘

## 6. Agrégations groupées (exemples courants)

In [32]:
# agrégation par PULocationID : nombre de trajets, distance moyenne, montant moyen, tip% moyen
agg = valid.group_by(
        [
            "PULocationID"
        ]
        ).agg(
        [
        pl.len().alias("n_trips"),
        pl.sum("fare_amount").alias("total_fare"),
        pl.mean("trip_distance").alias("avg_distance"),
        pl.mean("total_amount").alias("avg_total"),
        pl.mean("tip_pct").alias("avg_tip_pct"),
    ]).sort(
        "n_trips", descending=True
    )  # trier par nombre de trajets décroissant

agg.head(10)

shape: (10, 6)
┌──────────────┬─────────┬────────────┬──────────────┬───────────┬─────────────┐
│ PULocationID ┆ n_trips ┆ total_fare ┆ avg_distance ┆ avg_total ┆ avg_tip_pct │
│ ---          ┆ ---     ┆ ---        ┆ ---          ┆ ---       ┆ ---         │
│ i32          ┆ u32     ┆ f32        ┆ f32          ┆ f32       ┆ f32         │
╞══════════════╪═════════╪════════════╪══════════════╪═══════════╪═════════════╡
│ 237          ┆ 148137  ┆ 1.7766e6   ┆ 1.663004     ┆ 19.822861 ┆ 0.240521    │
│ 161          ┆ 146843  ┆ 2205295.5  ┆ 2.20357      ┆ 24.236452 ┆ 0.233579    │
│ 236          ┆ 137941  ┆ 1.7255e6   ┆ 1.802399     ┆ 20.176727 ┆ 0.235918    │
│ 132          ┆ 133734  ┆ 8.389246e6 ┆ 15.674957    ┆ 81.066925 ┆ 0.143188    │
│ 186          ┆ 108204  ┆ 1.6636e6   ┆ 2.187683     ┆ 24.049044 ┆ 0.222496    │
│ 230          ┆ 107546  ┆ 1.8749e6   ┆ 2.832681     ┆ 27.150532 ┆ 0.224038    │
│ 162          ┆ 105098  ┆ 1.5389e6   ┆ 2.182504     ┆ 23.745417 ┆ 0.236748    │
│ 142          ┆ 97611   ┆ 1.3069e6   ┆ 2.057632     ┆ 21.579725 ┆ 0.238151    │
│ 138          ┆ 85431   ┆ 4.467556e6 ┆ 9.624812     ┆ 76.940147 ┆ 0.218911    │
│ 163          ┆ 84672   ┆ 1.2880e6   ┆ 2.283259     ┆ 24.319773 ┆ 0.233046    │
└──────────────┴─────────┴────────────┴──────────────┴───────────┴─────────────┘

## 7. Jointure avec la table des zones (lookup)

In [22]:
# taxi_zone_lookup.csv contient typiquement : LocationID, Borough, Zone, service_zone
# renommer LocationID pour joindre sur PULocationID
zones = zones.rename({"LocationID": "PULocationID"})

# assurez-vous des types (int / même dtype)
zones = zones.with_columns(pl.col("PULocationID").cast(pl.Int32))

agg = agg.join(zones, on="PULocationID", how="left")
agg.select(["PULocationID","Zone","Borough","n_trips","avg_total","avg_tip_pct"]).head(10)

shape: (10, 6)
┌──────────────┬──────────────────────────────┬───────────┬─────────┬───────────┬─────────────┐
│ PULocationID ┆ Zone                         ┆ Borough   ┆ n_trips ┆ avg_total ┆ avg_tip_pct │
│ ---          ┆ ---                          ┆ ---       ┆ ---     ┆ ---       ┆ ---         │
│ i32          ┆ str                          ┆ str       ┆ u32     ┆ f32       ┆ f32         │
╞══════════════╪══════════════════════════════╪═══════════╪═════════╪═══════════╪═════════════╡
│ 237          ┆ Upper East Side South        ┆ Manhattan ┆ 148137  ┆ 19.822861 ┆ 0.240521    │
│ 161          ┆ Midtown Center               ┆ Manhattan ┆ 146843  ┆ 24.236452 ┆ 0.233579    │
│ 236          ┆ Upper East Side North        ┆ Manhattan ┆ 137941  ┆ 20.176727 ┆ 0.235918    │
│ 132          ┆ JFK Airport                  ┆ Queens    ┆ 133734  ┆ 81.066925 ┆ 0.143188    │
│ 186          ┆ Penn Station/Madison Sq West ┆ Manhattan ┆ 108204  ┆ 24.049044 ┆ 0.222496    │
│ 230          ┆ Times Sq/Theatre District    ┆ Manhattan ┆ 107546  ┆ 27.150532 ┆ 0.224038    │
│ 162          ┆ Midtown East                 ┆ Manhattan ┆ 105098  ┆ 23.745417 ┆ 0.236748    │
│ 142          ┆ Lincoln Square East          ┆ Manhattan ┆ 97611   ┆ 21.579725 ┆ 0.238151    │
│ 138          ┆ LaGuardia Airport            ┆ Queens    ┆ 85431   ┆ 76.940147 ┆ 0.218911    │
│ 163          ┆ Midtown North                ┆ Manhattan ┆ 84672   ┆ 24.319773 ┆ 0.233046    │
└──────────────┴──────────────────────────────┴───────────┴─────────┴───────────┴─────────────┘

## 8. Sauvegarder les résultats (parquet / csv / xlsx)

In [24]:
from pathlib import Path
out_dir = Path("./outputs")
out_dir.mkdir(exist_ok=True)

# parquet (recommandé pour volumes importants)
agg.write_parquet(out_dir / "agg_by_pu.parquet")

# csv
agg.write_csv(out_dir / "agg_by_pu.csv")

# xlsx -> conversion via pandas (openpyxl utilisé par pandas)
import pandas as pd
agg.to_pandas().to_excel(out_dir / "agg_by_pu.xlsx", index=False)